@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@import url("https://fonts.googleapis.com/css?family=Space+Mono");
body {
  background: #eee; }

* {
  font-family: "Open Sans", sans-serif; }

.header-spacer {
  height: 100px;
  width: 100%; }

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  width: 100%;
  background: #E88714;
  height: 100px;
  border-bottom: 1px solid #5E5C56;
  z-index: 20; }

header::after {
  content: "";
  display: table;
  clear: both; }

.header-container {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: #E88714;
  width: 80%;
  max-width: 1200px;
  height: 100px;
  line-height: 100px;
  padding: 0px 20px;
  margin: 0 auto;
  vertical-align: top; }

.header-left {
  float: left;
  width: 29%; }

.header-logo {
  color: white;
  line-height: 100px;
  float: left; }

.header-logo-text {
  font-family: "Space Mono", sans-serif;
  color: white;
  float: left;
  display: inline-block;
  margin: 0 5px; }

.header-center {
  float: left;
  width: 45%;
  text-align: right; }

.header-text-field {
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  color: #5E5C56;
  min-width: 70%;
  line-height: 40px;
  text-align: center;
  border: 1px solid #5E5C56;
  border-radius: 30px;
  outline: none; }

.header-button {
  font-family: "Open Sans", sans-serif;
  color: white;
  display: inline-block;
  margin-left: 5px;
  border: 1px solid white;
  border-radius: 30px;
  line-height: 40px;
  background: transparent;
  outline: none; }

.header-button:hover {
  color: #E88714;
  background: white; }

/*-------------------
Header Section
-------------------*/
/*-------------------
Lists Section
-------------------*/
.lists-area {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0px; }

.list-container {
  float: left;
  background: #777;
  display: inline-block;
  width: calc(25% - (4% / 3.0));
  margin-right: 1%;
  margin-bottom: 10px;
  transition: left 0.3s, top 0.3s;
  transition-timing-function: ease-in-out; }

.list-header {
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 5px;
  border: 1px solid #777;
  background: #E88714; }
  .list-header h1 {
    font-family: "Open Sans", sans-serif;
    float: left;
    margin: 0px;
    font-size: 20px;
    font-weight: 400; }

.list-header::after {
  content: "";
  display: table;
  clear: both; }

.list-header-button-container {
  float: right; }

.list-header-button {
  color: white;
  width: 20px;
  height: 20px;
  float: left;
  background: transparent;
  border: none;
  border-radius: 30px;
  text-align: center;
  margin-left: 5px;
  outline: none; }

.list-header-button-icons {
  position: relative;
  left: -6px;
  top: -1px;
  display: inline-block;
  line-height: 20px;
  width: 20px;
  text-align: center;
  vertical-align: bottom; }

.list-header-button:active {
  background: #A6610F; }

.list-transition-enter {
  opacity: 0.01; }

.list-transition-enter.list-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in; }

.list-transition-leave {
  opacity: 1;
  height: 23px; }

.list-transition-leave > * {
  opacity: 0.01;
  width: 0%; }

.list-transition-leave.list-transition-leave-active {
  opacity: 0.01;
  width: 0%;
  height: 1px;
  transition: opacity 300ms ease-in, width 300ms ease-in, height 300ms ease-in; }

/*-------------------
List Entry Section
-------------------*/
.list-entry-table {
  background: #E8D4BA;
  width: 100%;
  border: 1px solid #998C7A;
  border-collapse: collapse; }

.list-entry-table.collapsed > * {
  display: none; }

.list-entry-row td {
  border-bottom: 1px solid #998C7A; }

.list-entry-check-container {
  width: 24px; }

.list-entry-button-check {
  background: transparent;
  border: 1px solid #5C5449;
  border-radius: 15px;
  width: 20px;
  height: 20px;
  outline: none; }
  .list-entry-button-check i {
    color: #5C5449;
    position: relative;
    left: -4px; }

.list-entry-button-nocheck {
  display: none; }

.list-entry-text-container {
  width: calc(100% - 48px);
  padding-left: 12px; }

.list-entry-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #5C5449;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  resize: none;
  padding: 0; }

.list-entry-text-checked {
  text-decoration: line-through; }

.list-entry-delete-button {
  color: #5C5449;
  width: 20px;
  float: right;
  background: transparent;
  border: none;
  border-radius: 30px;
  text-align: center;
  margin-left: 5px;
  outline: none; }
  .list-entry-delete-button i {
    position: relative;
    left: -2px; }

.list-entry-delete-button:active {
  background: #B5A591; }

/*--------------------
Color Picker Specific
--------------------*/
.list-color-wheel-container {
  float: left;
  display: inline-block;
  width: 210px;
  height: 210px;
  margin: 0px; }

.list-color-picker-canvas {
  padding: 5px; }

.list-color-wheels-controls-container-upper {
  display: inline-block;
  float: left;
  width: calc(100% - 220px); }

.list-color-wheel-controls-table {
  display: inline-block;
  float: left;
  padding: 5px; }

.list-color-wheel-controls-container tr {
  width: calc(100% - 210px); }

.list-color-wheel-labels {
  font-family: "Droid Mono", monospace;
  width: 20%; }

.list-color-wheel-controls-color {
  margin-left: 5px;
  width: 70%; }

.list-color-wheel-controls-channels {
  margin-left: 5px;
  width: 70%; }

.list-color-wheel-controls-container-sliders {
  width: 100%;
  margin: auto;
  text-align: center; }

.list-color-wheel-controls-sliders {
  width: 90%;
  margin: 5px auto; }

/*---------------
Media queries
---------------*/
@media (min-width: 0px) and (max-width: 920px) {
  .header-logo-text {
    display: none; }
  .header-left {
    width: 10%; }
  .header-center {
    width: 90%; }
  .lists-area {
    width: 95%; }
  .list-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 0px; }
  .header-button {
    display: none; } }

@media (min-width: 921px) and (max-width: 1425px) {
  .list-container {
    width: calc((100% / 2.0) - 1%);
    margin-right: 1%;
    margin-bottom: 10px; }
  .header-center {
    width: 66%; } }

@media (min-width: 1426px) {
  .list-container {
    width: calc((100% / 3.0) - 1%);
    margin-right: 1%;
    margin-bottom: 10px; } }
