.list-color-wheel-container{
    float: left;
    display: inline-block;
    width: 210px;
    height: 210px;
    margin: 0px;
}

.list-color-picker-canvas {
    padding: 5px;
}

.list-color-wheels-controls-container-upper{
    display: inline-block;
    float: left;
    width: calc(100% - 210px);
}

.list-color-wheel-controls-table{
    display: inline-block;
    float: left;
    padding: 5px;
}

.list-color-wheel-controls-container tr {
    width: calc(100% - 210px);
}

.list-color-wheel-labels{
    font-family: "Droid Mono", monospace;
    color: white;
    width: 20%;
}

.list-color-wheel-controls-color{
    width: 100%;
}

.list-color-wheel-controls-channels{
    width: 100%;
}

.list-color-wheel-controls-container-sliders{
    width: 90%;
    height: 24px;
    float: left;
    margin: 5px 5%;
    text-align: center;
    background: white;
}

.list-color-wheel-controls-sliders{
    width: 90%;
    margin: 5px auto;
}

.list-color-wheel-controls-submit {
    font-family: $primary-font;
    color: white;
    display: inline-block;
    margin: 5px 5%;
    border: 1px solid white;
    border-radius: 30px;
    line-height: 40px;
    background: transparent;
    outline: none;
    float: right;

    &:hover{
        color: $primary-color;
        background: white;
    }
}
